--title "INatGet"
--markup markdown
--readme README.md
--asset coverage-badge.svg
--files share/inat-get/docs/*.md
--protected
--private
--no-private
--load .yardpreamble.rb
--plugin is-sequel
lib/**/*.rb
